body{
	background:#252525 url('../pic/page_background.png') 0px 0px repeat-x;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Arial", "Microsoft Yahei", "Pingfang SC", sans-serif;
}

a {
	color: #dedede;
	display: block;
	font-size: 1.12em;
	margin-bottom: .08em;
	text-decoration: none;
	transition: font-size .2s, color .2s;
	-webkit-transition: font-size .2s, color .2s;
	-moz-transition: font-size .2s, color .2s;
}

a:hover {
	color: white;
	font-size: 1.27em
}

.container{
	min-height: 100%;
	height: auto;
	height: 100%;
	position: relative;
}

.headercontainer{
	width:65%;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.headleft {
	color:#dedede;
	float: left;
	font-weight: 100;
	/*font-family:"SimHei";*/
	text-align: center;
}

.headright {
	width: 30%;
	height: 100%;
	color: #dedede;
	float:right;
	padding-top: 55px;
}

.page{
	padding-bottom: 130px;
	width:65%;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	height: 500px;
}

.footer{
	position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    clear:both;
}

.footer-line{
	height:1px;
	margin:0px;
	padding:0px;
	border:none;
	color:#353535;
	background:#353535;
}

.footercontainer{
	width: 60%;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

.connect{
	float: right;
	height: 30px;
	top: 50%;
	border-right-style: solid;
	border-width: 2px;
	border-color: #353535;
	padding: 10px;
	color: #404040;
	font-size: 110%;
}

.pic{
	width:30px;
	height:30px;
	margin-left:5px;
	float: left;
}

.pic img{
	width:30px;
	height:30px;
}

.list{
    height:auto;
    overflow-y: hidden;
 	list-style: none;
 	float: right;
}

.list li{
	width:30px;
	height:30px;
	padding:0px;
	float: left;
	margin-right:15px;
	color: #ffffff;
}

.cascade{
	height:468px;
	position:relative;
	margin:0px 0px 30px 0px;
}

.menu{
	float:left;
	list-style-type:none;
	margin:0px;
	padding:0px;
	width:860px;
}

.menu li{
 	z-index:1;
	width:200px;
	height:468px;
	cursor:pointer;
	position:absolute;
	text-align:center;
	background-position:0px 0px;
	background-repeat:no-repeat;
}

.menu h3{
	color:#FFFFFF;
	font-size:24px;
	margin-top:260px;
	margin-bottom:32px;
}

li.one{
	left: 0px;
	background-image:url('../pic/content_box_blue.png');
}

li.two{
	left:220px;
	background-image:url('../pic/content_box_green.png');
}

li.three{
	left:440px;
	background-image:url('../pic/content_box_yellow.png');
}

li.four{
	left:660px;
	background-image:url('../pic/content_box_orange.png');
}

.menu li:hover{
	background-position:0px -468px;
}

.searchcontainer{
	height: 800px;
	color: white;
	width: 65%;
	margin: auto;
	margin-top: 2.5em;
}
